<section class="form-elegant">
    <div class="card">
        <div class="card-body mx-4">

            <div class="text-center">
                <h3 class="dark-grey-text mb-5">
                    <strong>Restaurant Jacobs</strong>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h3>
            </div>

            <div class="list-group">
                <a  class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Date de rendez-vous</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1"> Samedi 12 Juillet 2018</p>
                </a>
                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Lieu</h5>
                    </div>
                    <p class="mb-1">Restaurant Fady </p>
                    <small class="text-muted">Treichville , Gare de Bassam</small>
                </a>
                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Montant Prevu</h5>
                    </div>
                    <p class="mb-1">450000</p>
                </a>
                <a  class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Montant Acutel</h5>
                    </div>
                    <p class="mb-1">34000</p>
                </a>
            </div>
        <br>
            

            <div class="text-center mb-3">
                <button type="button" class="btn btn-primary btn-block btn-rounded z-depth-1a waves-effect waves-light">Valider</button>
            </div>
            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> ou :</p>

            <div class="row my-3 d-flex justify-content-center">
                <button type="button" class="btn btn-danger btn-rounded mr-md-3 z-depth-1a waves-effect waves-light">
                    <i class="fa fa-trash blue-text text-center"></i>
                </button>
                <button type="button" class="btn btn-info btn-rounded mr-md-3 z-depth-1a waves-effect waves-light">
                    <i class="fa fa-ban blue-text"></i>
                </button>
                <button type="button" class="btn btn-success btn-rounded z-depth-1a waves-effect waves-light">
                    <i class="fa fa-edit blue-text"></i>
                </button>
            </div>

        </div>
        <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">
                <a  class="blue-text ml-1">Fermer</a>
            </p>
        </div>
    </div>
</section> 

<!-- <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div> -->
